// 1. Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base
@import 'base/reset';
@import 'base/typography';

// 4. Layout
@import 'layout/header';
@import 'layout/footer';

// 5. Components
@import 'components/buttons';
@import 'components/cards';

// 6. Pages
@import 'pages/home';
@import 'pages/about';

// 7. Themes
@import 'themes/light';
