// 1. Abstracts
@use 'abstracts/variables';
@use 'abstracts/mixins';

// 2. Vendors
@use 'vendors/normalize';

// 3. Base
@use 'base/reset';
@use 'base/typography';

// 4. Layout
@use 'layout/header';
@use 'layout/footer';

// 5. Components
@use 'components/buttons';
@use 'components/card';

// 6. Pages
@use 'pages/home';
@use 'pages/about';

// 7. Themes
@use 'themes/ligth';
